input[type=text] {
    outline:none;
    border: 2px solid red;
    border-radius: 4px;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
}
input[type=button] {
    border-radius: 8px;
    position: absolute;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 12px 20px;
    top: 88%;
    left: 25%;
    outline:none; /*remove the blue outline when element focused*/
    font-weight: bold;
    font-family:Lucida;
    font-size:15px;
    text-align:center;
}

img {
    display: block;     /*center image*/
    margin-left: auto;  /*center image*/
    margin-right: auto; /*center image*/
    width: 30%;
}

label {
color: black;
font-weight: bold;
font-family:Courier;
}